<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>VMS - Admin</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="index3.html" class="brand-link">
                <img src="~/dist/img/arkitektz-logo.png" alt="VMS" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">VMS</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">Admin</a>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-calendar-check"></i>
                                <p>
                                    Appoitments
                                </p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="@Url.Action("Index", "Employee")" class="nav-link">
                                <i class="nav-icon fas fa-user-tie"></i>
                                <p>
                                    Employee
                                </p>
                            </a>
                        </li>

                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->
            <div class="content">
                <div class="container-fluid">
                    @RenderBody()
                    <!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
            <div class="p-3">
                <h5>Title</h5>
                <p>Sidebar content</p>
            </div>
        </aside>
        <!-- /.control-sidebar -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="float-right d-none d-sm-inline">
                Anything you want
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; @DateTime.Now.Year <a href="https://arkitektz.com/">Arkitektz.com</a>.</strong> All rights reserved.
        </footer>
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
     
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- DataTables  & Plugins -->
    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/plugins/jszip/jszip.min.js"></script>
    <script src="~/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#dt-appointment-list").DataTable({
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "ajax": {
                    "url": "@Url.Action("LoadData", "Admin")",
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs": [{
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                }],
                "columns": [
                    { "data": "fullName", "name": "fullName", "autoWidth": true },
                    { "data": "phoneNumber", "name": "phoneNumber", "autoWidth": true },
                    { "data": "companyName", "name": "companyName", "autoWidth": true },
                    { "data": "name", "name": "name", "autoWidth": true },
                    { "data": "carRegistration", "name": "carRegistration", "autoWidth": true },
                    {
                        data: null,
                        render: function (data, type, row) {
                            return "<button onClick='ShowAppointment("+data.id+")' class='btn btn-primary'>View</button>";
                        }
                    },
                ]

            });
        });

        const ShowAppointment = (id) => {
            console.log(id);

               $.ajax({
                            type: "GET",
                            url: "@Url.Action("GetAppointment", "Admin")",
                            data: { Id: id },
                            success: function (response) {
                                console.log(response)
                                let htmlTemplate = `
                                 <dt class="col-sm-4">FullName</dt>
                                <dd class="col-sm-8">${response.fullName}.</dd>

                                <dt class="col-sm-4">Phone Number</dt>
                                <dd class="col-sm-8">${response.phoneNumber}</dd>

                                <dt class="col-sm-4">Company Name</dt>
                                <dd class="col-sm-8">${response.companyName}</dd>


                                <dt class="col-sm-4">Meeting Purpose</dt>
                                <dd class="col-sm-8">${response.name}</dd>

                                <dt class="col-sm-4">Description</dt>
                                <dd class="col-sm-8">${response.meetingDescription == null ? "-" : response.meetingDescription}</dd>

                                <dt class="col-sm-4">Car Registration</dt>
                                <dd class="col-sm-8">${response.carRegistration}</dd>
                                `;

                                $('#AppointmentDetail').html(htmlTemplate);
                                $('#showAppointment').modal('show')
                            },
                            failure: function (response) {
                                console.error(response.responseText);
                            },
                            error: function (response) {
                                console.error(response.responseText);
                            }
                        })


          
        }

    </script>
</body>
</html>
