
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
}


<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Appointment</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <div class="custom-control custom-checkbox custom-control-inline float-right" id="filter">
                    <input type="checkbox" class="custom-control-input" id="defaultInline1"  onclick="FilterTable('CheckIn')">
                    <label class="custom-control-label" for="defaultInline1">Visitors on site</label>
                </div>
               
            </div><!-- /.col -->
        </div><!-- /.row -->
        <div class="row">
            <div class="col-md-10"></div>
            <div class="cold-md-2">
                <a class="btn btn-primary float-right mb-5" href="@Url.Action("ExportAppointmentExcel","Export")">Export</a>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</div>


<div class="row" id="appointment-list-table">
    <div class="col-12">
        <div class="card">
            
            <!-- /.card-header -->
            <div class="card-body">
                 
                <table id="dt-appointment-list" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Full Name</th>
                            <th>Company</th>
                            <th>Meeting Type</th>
                            <th>Check In</th>
                            <th>Check Out</th>
                            <th class="col-md-3">Action</th>
                        </tr>
                    </thead>

                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>

<div class="row" style="display:none;" id="show-appointment">
    <div class="col-md-12">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">Appointment Detail</h3>
            </div>

            <div class="card-body" id="AppointmentDetail">

            </div>


            <div class="card-footer">
                <button type="button" onclick="CloseAppointmentDetail()" class="btn btn-primary btn-block" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal" tabindex="-1" role="dialog" id="showAppointment">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Appointment Details</h5>
            </div>
            <div class="modal-body" id="AppointmentDetail">


            </div>

        </div>
    </div>
</div>


<script src="~/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- DataTables  & Plugins -->
<script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="~/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="~/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="~/plugins/jszip/jszip.min.js"></script>
<script src="~/plugins/pdfmake/pdfmake.min.js"></script>
<script src="~/plugins/pdfmake/vfs_fonts.js"></script>
<script src="~/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="~/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="~/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<script>

   
    $("#container-loader").hide();
    var filterType = "CheckIn";

    var tableAppointmnet =  $("#dt-appointment-list").DataTable({
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "ajax": {
                    "url": "@Url.Action("LoadData", "Admin")",
                    "type": "POST",
                    "datatype": "json"
                },

                "columns": [
                    { "data": "fullName", "name": "fullName", "autoWidth": true },
                    { "data": "companyName", "name": "companyName", "autoWidth": true },
                    { "data": "name", "name": "name", "autoWidth": true },
                    //{ "data": "checkIn", "name": "checkIn", "autoWidth": true },
                    //{ "data": "checkOut", "name": "checkOut", "autoWidth": true },
                    {
                        data: null,
                        render: function (data, type, row) {
                            console.log(data);
                            return CustomerFormatedDate(data.checkIn);
                        }
                    },
                    {
                        data: null,
                        render: function (data, type, row) {

                            if (data.checkOut != null) {
                                return CustomerFormatedDate(data.checkOut);
                            } else {
                                return data.checkOut;
                            }
                        }
                    },
                    {
                        data: null,
                        render: function (data, type, row) {

                            return `
                                <button onClick='ShowAppointment(${data.id})' class='btn btn-primary'>View</button>

                                ${ row.checkOut == null && row.checkIn != null ?  "<button onClick='ForceSignOut(" + data.id + ", this)' class='btn btn-danger'>Check Out</button>" : ""}


                            `;
                        }
                    },
                ]

            });

    const ShowAppointment = (id) => {
            console.log(id);
        $('#filter').hide();
               $.ajax({
                            type: "GET",
                            url: "@Url.Action("GetAppointment", "Admin")",
                            data: { Id: id },
                            success: function (response) {

                                let profileLink = "https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/1024px-No_image_available.svg.png";
                                console.log(response)
                                let htmlTemplate = `
                                 <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                                    <div class="image mx-auto">
                                        <img id="imgUser" onerror="imgError(this);" src="${response.profilePhotoUrl == null ? profileLink : `https://vms-lim-uat.azurewebsites.net/uploads/${response.profilePhotoUrl}`}" class="elevation-2"  style="width:12.1em" alt="User Image">
                                    </div>
                                </div>

                                <dt class="col-sm-4">Full Name</dt>
                                <dd class="col-sm-8">${response.fullName == null ? "-" : response.fullName}.</dd>

                                <dt class="col-sm-4">Phone Number</dt>
                                <dd class="col-sm-8">${response.phoneNumber == null ? "-" : response.phoneNumber}</dd>

                                <dt class="col-sm-4">Company Name</dt>
                                <dd class="col-sm-8">${response.companyName == null ? "-" : response.companyName}</dd>

                                <dt class="col-sm-4">Meeting Purpose</dt>
                                <dd class="col-sm-8">${response.name == null ? "-" : response.name}</dd>

                                <dt class="col-sm-4">Visiting Employee</dt>
                                <dd class="col-sm-8">${response.visitingEmployee == null ? "-" : response.visitingEmployee}</dd>

                                <dt class="col-sm-4">Flu symptoms in last 14 days</dt>
                                <dd class="col-sm-8">${response.value == null ? "-" : (response.value == false ? "No" : "Yes")}</dd>

                                <dt class="col-sm-4">Description</dt>
                                <dd class="col-sm-8">${response.meetingDescription == null ? "-" : response.meetingDescription}</dd>

                                <dt class="col-sm-4">Car Registration</dt>
                                <dd class="col-sm-8">${response.carRegistration == null ? "-" : response.carRegistration}</dd>
                                `;

                                $('#AppointmentDetail').html(htmlTemplate);
                                $('#appointment-list-table').hide();
                                $('#show-appointment').show();

                            },
                            failure: function (response) {
                                console.error(response.responseText);
                            },
                            error: function (response) {
                                console.error(response.responseText);
                            }
                        })



        }

    const ForceSignOut = (id, value) => {

            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success ml-2',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
            })

            swalWithBootstrapButtons.fire({
                title: 'Are you sure?',
                text: "You want to check out for this user!",
                showCancelButton: true,
                confirmButtonText: 'Yes',
                cancelButtonText: 'No',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {

                       $.ajax({
                            type: "GET",
                            url: "@Url.Action("ForceCheckOut", "Admin")",
                            data: { AppointmentId: id },
                            success: function (response) {
                                itemCheckOut = value;
                                value.closest("td").previousSibling.innerText = CustomerFormatedDate(response);
                                toastr.success("Successfully Signed Out")
                                 value.remove();
                            },
                            failure: function (response) {
                                console.error(response.responseText);
                            },
                            error: function (response) {
                                console.error(response.responseText);
                            }
                        })

                } else if (
                    /* Read more about handling dismissals below */
                    result.dismiss === Swal.DismissReason.cancel
                ) {
                    swalWithBootstrapButtons.fire(
                        'Cancelled',
                        'Your changes has not saved',
                    )
                }
            })



        }

    function CloseAppointmentDetail() {
            $('#appointment-list-table').show();
        $('#show-appointment').hide();
        $('#filter').show();
    }

    function FilterTable() {
        tableAppointmnet.destroy();

        tableAppointmnet =  $("#dt-appointment-list").DataTable({
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "ajax": {
                    "url": "@Url.Action("LoadData", "Admin")?filterType=" + filterType,
                    "type": "POST",
                    "datatype": "json"
                },

                "columns": [
                    { "data": "fullName", "name": "fullName", "autoWidth": true },
                    { "data": "companyName", "name": "companyName", "autoWidth": true },
                    { "data": "name", "name": "name", "autoWidth": true },
                    //{ "data": "checkIn", "name": "checkIn", "autoWidth": true },
                    //{ "data": "checkOut", "name": "checkOut", "autoWidth": true },
                    {
                        data: null,
                        render: function (data, type, row) {
                            console.log(data);
                            return CustomerFormatedDate(data.checkIn);
                        }
                    },
                    {
                        data: null,
                        render: function (data, type, row) {

                            if (data.checkOut != null) {
                                return CustomerFormatedDate(data.checkOut);
                            } else {
                                return data.checkOut;
                            }
                        }
                    },
                    {
                        data: null,
                        render: function (data, type, row) {

                            return `
                                <button onClick='ShowAppointment(${data.id})' class='btn btn-primary'>View</button>
                                ${row.checkOut != null ? "" : "<button onClick='ForceSignOut(" + data.id +", this)' class='btn btn-danger'>Check Out</button>"}


                            `;
                        }
                    },
                ]

            });

        if (filterType == "CheckIn") {
            filterType = "CheckOut";
        } else {
            filterType = "CheckIn";
        }

    }

    function imgError(image) {
        image.onerror = "";
        image.src = "https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/1024px-No_image_available.svg.png";
        return true;
    }
 

 
</script>