
@{
    ViewData["Title"] = "A";
    Layout = "/Views/Appointment/_Layout.cshtml";
}

<style>
    #qrcode-container {
        display: none;
    }

    .qrcode {
        padding: 16px;
    }

        .qrcode img {
            margin: 0 auto;
        }

    .swal2-cancel {
        margin-right: 10px;
    }

    #ThirdForm > div:nth-child(2) > span.select2.select2-container.select2-container--default.select2-container--below {
        width: 100%;
    }

    body label {
        font-size: 26px;
    }

    body .text-danger {
        font-size: 26px;
    }

    div > h3 {
        font-size: 26px;
    }

    /* .btn {
        font-size: 26px !important;
    }*/

    input,
    input::-webkit-input-placeholder {
        font-size: 20px !important;
    }

    .dropdown-item {
        font-size: 20px !important;
    }

    .dropdown-menu {
        width: 100%;
    }

    .text-center .text-info {
        font-size: 26px !important;
    }

    #SeventhForm > div:nth-child(2) > p {
        font-size: 26px !important;
    }

    ul > li {
        font-size: 26px !important;
    }

    #lblErrorPhoto {
        font-size: 26px !important;
    }
</style>

<style>
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

        .slider.round:before {
            border-radius: 50%;
        }
</style>

<div id="login">
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-12">
                <div id="login-box" class="col-md-12">
                    <div id="login-form" class="form">
                        
                        <div id="ShowExit" style="display:none;"> 
                            <h1 style="text-align: right; color: #15013e;" onclick="Exit()"><i class="fa fa-times"></i></h1>
                        </div>

                        <div id="firstForm" style="display:none;">
                            <div id="barCodeArea" style="display:none;">
                                <h3 class="text-center text-info">Thank You!!!</h3>
                                <div class="form-group">
                                    <label for="txtBarcode" class="text-info">Enter your barcode number <strong>next*</strong></label><br>
                                    <input type="number" class="form-control" id="txtBarcode" autocomplete="off" />
                                    <span class="text-danger" id="val_Barcode" style="display:none;">Please enter your barcode</span>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-change-button btn-block" role="button"
                                            onclick="btnNext(14)">
                                        <span class="text"><i class="fas fa-sign-in-alt"></i> &nbsp; Next</span>
                                    </button>

                                </div>
                            </div>
                            <div id="SignOutForm" style="display:none;">
                                <h5 class="text-center text-info" id="setEndFullName">Thank You!!!</h5>
                                <div class="card bg-danger" style="color:white;">
                                    <div class="card-body text-center">
                                        <i class="fas fa-sign-out-alt mb-5" style="font-size: 58px;"></i>
                                        <h6>You have succesfully check out</h6>
                                    </div>
                                </div>
                                <br />
                                <div class="text-center">
                                    <span class="text-white">@DateTime.Now.ToString("hh:mm tt dddd dd MMMM yyyy")</span>
                                </div>
                                <br />
                                <br />
                                <div class="form-group">
                                    <div class="row">

                                        <div class="col-md-6" style="margin:0 auto;">
                                            <button onclick="btnNext(15)" type="button" class="btn btn-info btn-change-button col-12">Home</button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div id="SignInForm" style="display:none;">

                                <h3 class="text-center text-info">What is the purpose of your visit!</h3>
                                <span class="text-danger" id="val_Purpose" style="display: table; margin: 0 auto; display:none;">Please choose your purpose</span>
                                <div class="row mb-4 mt-4">
                                    <div class="col-md-1">

                                    </div>
                                    <div class="col-md-2 mb-1">
                                        <button onclick="btnMeetingPurpose(1)" style="height:60px;" id="btnOptionOne" type="button" class="btn btn-info btn-block">Meeting</button>
                                    </div>

                                    <div class="col-md-2 mb-1">
                                        <button onclick="btnMeetingPurpose(2)" style="height:60px;" id="btnOptionTwo" type="button" class="btn btn-info btn-block">Contractor</button>
                                    </div>



                                    <div class="col-md-2 mb-1">
                                        <button onclick="btnMeetingPurpose(4)" style="height:60px;" id="btnOptionFour" type="button" class="btn btn-info btn-block">Interview</button>
                                    </div>

                                    <div class="col-md-2 mb-1">
                                        <button onclick="btnMeetingPurpose(5)" style="height:60px;" id="btnOptionFive" type="button" class="btn btn-info btn-block">Delivery</button>
                                    </div>

                                    <div class="col-md-2 mb-1">
                                        <button onclick="btnMeetingPurpose(3)" style="height:60px;" id="btnOptionThree" type="button" class="btn btn-info btn-block">Other</button>
                                    </div>

                                    <div class="col-md-1">

                                    </div>

                                </div>
                                <div class="form-group" id="OtherReason" style="display:none;">
                                    <label for="username" class="text-info">Your other reason:</label><br>
                                    <input type="text" class="form-control" id="otherReason" autocomplete="off" />
                                    <span class="text-danger" id="val_Reason" style="display:none">Reason is required</span>
                                </div>
                                <div class="form-group">
                                    <div class="row">


                                        <div class="col-md-12">
                                            <button onclick="btnNext(1)" type="button" class="btn btn-info btn-change-button col-12">Next <i class="fas fa-forward"></i>&nbsp;</button>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div id="SignInBarCode" style="display:none;">
                                <div class="form-group">
                                    <label for="txtSignInBarCode" class="text-info">Enter your invitation number <strong>next*</strong></label><br>
                                    <input type="number" class="form-control" id="txtSignInBarCode" autocomplete="off" />
                                    <span class="text-danger" id="val_SignInBarCode" style="display:none;">Please enter your sign in barcode</span>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-change-button btn-block" role="button"
                                            onclick="btnNext(21)">
                                        <span class="text"><i class="fas fa-sign-in-alt"></i> &nbsp; Next</span>
                                    </button>

                                </div>
                            </div>

                            <div id="SignInBarCodeOut" style="display:none;">
                                <h5 class="text-center text-info" id="setEndFullName">Thank You!!!</h5>
                                <div class="card bg-danger" style="color:white;">
                                    <div class="card-body text-center">
                                        <i class="fas fa-sign-out-alt mb-5" style="font-size: 58px;"></i>
                                        <h6>You have succesfully check out</h6>
                                    </div>
                                </div>
                                <br />
                                <div class="text-center">
                                    <span class="text-white">@DateTime.Now.ToString("hh:mm tt dddd dd MMMM yyyy")</span>
                                </div>
                                <br />
                                <br />
                                <div class="form-group">
                                    <div class="row">

                                        <div class="col-md-6" style="margin:0 auto;">
                                            <button onclick="btnNext(22)" type="button" class="btn btn-info btn-change-button col-12">Home</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div id="SecondForm" style="display:none;">
                            <h3 class="text-center text-info">Welcome!</h3>
                            <div class="form-group">
                                <label for="username" class="text-info">Enter your first name and last name and select <strong>next*</strong></label><br>
                                <input type="text" class="form-control" id="formFullName" autocomplete="off" tabindex="1" />
                                <span class="text-danger" id="val_FullName" style="display:none;">Please enter your full name</span>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-change-button btn-block" role="button" onclick="btnNext(2)"> <span class="text"><i class="fas fa-sign-in-alt"></i> &nbsp; Next</span> </button>
                            </div>
                        </div>

                        <div id="ThirdForm" style="display:none;">
                            <h3 class="text-center text-info">Welcome!</h3>
                            <div class="form-group">
                                <label for="username" class="text-info">Enter Your Company Name:</label><br>
                                <input type="text" class="form-control" id="company" autocomplete="off" />
                                <span class="text-danger" id="val_CompanyName" style="display:none;">Please enter your company name</span>
                            </div>
                            <div class="form-group">


                                <div class="row">
                                    <div class="col-md-6 col-sm-12 mb-3">
                                        <button onclick="btnPrev()" type="button" class="btn btn-change-previous btn-danger col-12"><i class="fas fa-backward"></i>&nbsp; Previous</button>
                                    </div>

                                    <div class="col-md-6 col-sm-12">
                                        <button onclick="btnNext(3)" type="button" class="btn btn-info btn-change-button col-12">Next <i class="fas fa-forward"></i>&nbsp;</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="FourthForm" style="display:none;">
                            <h3 class="text-center text-info">Welcome!</h3>
                            <div class="form-group">
                                <label for="username" class="text-info">Visiting Employee:</label><br>
                                <input type="text" class="form-control" id="visitingEmployee" autocomplete="off" onkeypress="document.getElementById('val_Visiting_Employee').style.display = 'none';" />
                                <span class="text-danger" id="val_Visiting_Employee" style="display:none;">Your employee name does'nt match with our record</span>

                            </div>
                            <div class="form-group">


                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <button onclick="btnPrev()" type="button" class="btn btn-change-previous btn-danger col-12"><i class="fas fa-backward"></i>&nbsp; Previous</button>
                                    </div>

                                    <div class="col-md-6">
                                        <button onclick="btnNext(4)" type="button" class="btn btn-info btn-change-button col-12">Next <i class="fas fa-forward"></i>&nbsp;</button>
                                    </div>
                                </div>
                            </div>


                        </div>

                        <div id="FiftForm" style="display:none;">
                            <h3 class="text-center text-info">Welcome!</h3>


                            <div class="form-group">
                                <label for="username" class="text-info">Car Registration Number:</label><br>
                                <input type="text" class="form-control" id="carRegistrationNumber" autocomplete="off" />
                                <span class="text-danger" id="val_CarRegistration" style="display:none">Please enter your car registration number</span>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <button onclick="btnPrev()" type="button" class="btn btn-change-previous btn-danger col-12"><i class="fas fa-backward"></i>&nbsp; Previous</button>
                                    </div>

                                    <div class="col-md-6">
                                        <button onclick="btnNext(5)" type="button" class="btn btn-info btn-change-button col-12">Next <i class="fas fa-forward"></i>&nbsp;</button>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div id="SixthForm" style="display:none;">
                            <h3 class="text-center text-info">Welcome!</h3>
                            <div class="form-group">
                                <label for="username" class="text-info">Enter your mobile number:</label><br>
                                <input type="text" id="phoneNumber" class="form-control" autocomplete="off">
                                <span class="text-danger" id="val_PhoneNumber" style="display:none;">Your phone number is invalid</span>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <button onclick="btnPrev()" type="button" class="btn btn-change-previous btn-danger col-12"><i class="fas fa-backward"></i>&nbsp; Previous</button>
                                    </div>

                                    <div class="col-md-6">
                                        <button onclick="btnNext(6)" type="button" class="btn btn-info btn-change-button col-12">Next <i class="fas fa-forward"></i>&nbsp;</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="SeventhForm" style="display:none;">
                            <div class="form-group">
                                <p class="text-white text-info" style="font-size:26px;">Have you experienced flu like symptoms in the last 14 days?</p>
                                <div class="row">

                                    <div class="col-md-2">
                                        <button id="btnHasFlu" style="height:60px;" class="btn btn-danger btn-block mb-3" onclick="SetFlu(true)">Yes</button>
                                    </div>
                                    <div class="col-md-2">
                                        <button id="btnNoFlu" style="height:60px;" class="btn btn-success btn-block" onclick="SetFlu(false)">No</button>
                                    </div>


                                </div>
                                <span class="text-danger" id="val_Flue" style="display:none;">Please select one option</span>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <button onclick="btnPrev()" type="button" class="btn btn-change-previous btn-danger col-12 mb-3"><i class="fas fa-backward"></i>&nbsp; Previous</button>
                                    </div>

                                    <div class="col-md-6">
                                        <button onclick="btnNext(7)" id="btnDone" type="button" class="btn btn-info btn-change-button col-12"><i class="fas fa-check"></i>&nbsp;Next </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="EightForm" style="display:none;">
                            <h3 class="text-center text-info">Please read & acknowledge</h3>
                            <div class="form-group" style="height:200px; overflow-y:scroll;" id="AcknowledgeList">
                                <p class="text-white">Welcome to our workspace</p>

                                <ul class="text-white">
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                    <li>Curabitur non quam cursus lorem aliquam sollicitudin.</li>
                                    <li>Maecenas at neque vitae orci accumsan eleifend ac a ligula.</li>
                                </ul>
                                <ul class="text-white">
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                    <li>Curabitur non quam cursus lorem aliquam sollicitudin.</li>
                                    <li>Maecenas at neque vitae orci accumsan eleifend ac a ligula.</li>
                                </ul>


                                <ul class="text-white">
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                    <li>Curabitur non quam cursus lorem aliquam sollicitudin.</li>
                                    <li>Maecenas at neque vitae orci accumsan eleifend ac a ligula.</li>
                                </ul>



                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <button onclick="btnPrev()" type="button" class="btn btn-change-previous btn-danger col-12 mb-3"><i class="fas fa-backward"></i>&nbsp; Previous</button>
                                    </div>
                                    <div class="col-md-6">
                                        <button id="btnAcknowledge" onclick="btnNext(8)" type="button" class="btn btn-info btn-change-button col-12" disabled>Acknowledge <i class="fas fa-forward"></i>&nbsp;</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="NinthForm" style="display:none;">
                            <h3 class="text-center text-info" id="lblPhoto">Add a photo</h3>
                            <h5 class="text-center text-info" id="lblErrorPhoto" style="display:none;">There is no associated camera found with this device</h5>
                            <div class="form-group text-center">
                                <img id="profileImage" src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png" style="height:100px; width:100px;" class="rounded-circle" alt="Cinque Terre">
                            </div>
                            <div class="form-group">


                                <div class="row">


                                    <div class="col-md-12 text-center">
                                        <button type="button" id="takePhoto" class="btn btn-info btn-change-button col-md-4 text-center"><i class="fas fa-camera-retro"></i>&nbsp; Take Photo </button>
                                        <input type="file" style="display:none" id="openFile" onchange="previewFile(this);" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">


                                <div class="row">
                                    <div class="col-md-6">
                                        <button onclick="btnPrev()" type="button" class="btn btn-change-previous btn-danger col-12 mb-3"><i class="fas fa-backward"></i>&nbsp; Previous</button>
                                    </div>

                                    <div class="col-md-6">
                                        <button onclick="btnNext(8)" type="button" class="btn btn-info btn-change-button col-12"><span id="PhotoSkip">Skip</span> <i class="fas fa-forward"></i>&nbsp;</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="TenthForm" style="display:none;">
                            <h5 class="text-center text-info">Please review your visitor record and select : <span class="text-danger">Proceed</span></h5>
                            <div class="form-group">

                                <ul class="list-group">
                                    <li class="list-group-item">Full Name : <span id="setFullName"></span>  <button class="btn btn-primary float-right" onclick="jumpToForm(2)">Edit</button> </li>
                                    <li class="list-group-item">Company Name : <span id="setCompany"></span> <button class="btn btn-primary float-right" onclick="jumpToForm(3)">Edit</button></li>
                                    <li class="list-group-item">Visiting Employee : <span id="setEmployee"></span> <button class="btn btn-primary float-right" onclick="jumpToForm(4)">Edit</button></li>
                                    <li class="list-group-item">Purpose of visit : <span id="setMeeting"></span> <button class="btn btn-primary float-right" onclick="jumpToForm(1)">Edit</button></li>
                                    <li class="list-group-item">Mobile Number : <span id="setPhone"></span> <button class="btn btn-primary float-right" onclick="jumpToForm(6)">Edit</button></li>
                                    <li class="list-group-item">Car Registration Number : <span id="setRegistration"></span> <button class="btn btn-primary float-right" onclick="jumpToForm(5)">Edit</button></li>
                                </ul>

                            </div>
                            <div class="form-group">


                                <div class="row">
                                    <div class="col-md-6">
                                        <button onclick="btnPrev()" type="button" class="btn btn-change-previous btn-danger col-12"><i class="fas fa-backward"></i>&nbsp; Cancel</button>
                                    </div>

                                    <div class="col-md-6">
                                        <button onclick="btnNext(10)" id="btnDone" type="button" class="btn btn-info btn-change-button col-12"><i class="fas fa-check"></i>&nbsp;Proceed </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="ElventhForm" style="display:none;">
                            <h5 class="text-center text-info" id="setEndFullName">Welcome</h5>
                            <div class="card bg-success" style="color:white;">
                                <div class="card-body text-center">
                                    <i class="fas fa-sign-in-alt mb-5" style="font-size: 58px;"></i>
                                    <h6>You have succesfully check in</h6>
                                </div>
                            </div>
                            <br />
                            <div class="text-center">
                                <span class="text-white">@DateTime.Now.ToString("hh:mm tt dddd dd MMMM yyyy")</span>
                            </div>
                            <br />
                            <br />
                            <div class="form-group">
                                <div class="row">

                                    <div class="col-md-6" style="margin:0 auto;">
                                        <button onclick="btnNext(11)" type="button" class="btn btn-info btn-change-button col-12">Home <i class="fas fa-forward"></i>&nbsp;</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="TwelfthForm">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <h1 class="text-white">
                                        <i class="far fa-address-card display-4"></i>
                                    </h1>
                                    <h1 class="text-white"><strong>Visitor Managment System</strong></h1>
                                  @*  <h3 class="text-white">Welcome to VMS</h3>*@
                                </div>
                            </div>
                            <div class="row mx-auto">
                                <div class="col-md-4 mx-auto">
                                    <button class="btn btn-block btn-change-button mt-3" role="button" onclick="btnNext(12)" id="btnSignIn"> <span class="text"><i class="fas fa-sign-in-alt"></i> &nbsp; Sign in</span> </button>
                                    <button class="btn btn-block btn-change-button mt-2" role="button" onclick="btnNext(13)"> <span class="text"><i class="fas fa-sign-out-alt"></i> &nbsp; Sign out</span> </button> 
                                    <button class="btn btn-block btn-change-button mt-2" role="button" onclick="btnNext(20)"> <span class="text"><i class="fas fa-sign-out-alt"></i> &nbsp; I have an invitation</span> </button> 
                                   
                                  
                                </div>
                                
                              
                            </div>
                            <div class="row">
                                <div class="col-md-12 text-center mt-4">
                                    <p class="text-white" id="demo" style="display:none;">Scan the QR code using your smartphone's camera to sign in</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <div id="qrcode"></div>
                                </div>
                            </div>
                        </div>





                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="modal-camera" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <div id="my_camera"></div>
                <br />
                <input class="btn btn-primary btn-block" id="btnSendPhoto" type=button value="Take Photo" onClick="take_snapshot()">


            </div>
        </div>

    </div>
</div>




<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="~/js/webcam.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="~/js/qrcode.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-4-autocomplete/dist/bootstrap-4-autocomplete.min.js" crossorigin="anonymous"></script>
<script src="https://unpkg.com/@@aspnet/signalr@@1.0.0-rc1-final/dist/browser/signalr.js"></script>
<script>

    //Mobile Logic
    if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {


        //$("#TwelfthForm").hide();
        //$("#firstForm").show();
        //$("#SignInBarCode").show();

        $("#btnSignIn").click();


    }

    //SignalR Work Here

    var qrPageCode = "";
    const connection = new signalR.HubConnectionBuilder()
        .withUrl("/qrcode")
        .configureLogging(signalR.LogLevel.Information)
        .build();

    connection.on('qrCodeChecker', (qrCode) => {
        if (qrCode == qrPageCode) {
            GenerateNewToken();
        }
    });

    connection.start()
        .then(() => console.log('connected!'))
        .catch(console.error);

    GenerateNewToken()


    setInterval(function () {

        if ($('#TwelfthForm').is(':visible') == true) {
            $("#ShowExit").hide();
        }

        if ($('#SignOutForm').is(':visible') == true) {
            $("#ShowExit").hide();
        }


    }, 100);

    function GenerateNewToken() {

                $.ajax({
                    url: "@Url.Action("GenerateNewToken", "Home")",
                    type: "POST",
                    success: function (data) {


                        if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {


                            return;
                        }

                        $("#qrcode").html('');
                        $("#demo").show();
                            qrPageCode = data;


                            var qrcode = new QRCode(document.getElementById("qrcode"), {
                                text: window.location.origin + "/Appointment/Index?Id=" + data,
                                width: 150,
                                height: 150,
                                colorDark: "#000000",
                                colorLight: "#ffffff",
                                correctLevel: QRCode.CorrectLevel.H,
                            });




                    }
                });
    }

    const acknowledgeList = document.querySelector('#AcknowledgeList')
    acknowledgeList.addEventListener('scroll', () => {
        if (acknowledgeList.offsetHeight + acknowledgeList.scrollTop >= acknowledgeList.scrollHeight) {
            $("#btnAcknowledge").prop("disabled", false);
        }
    })


    setTimeout(() => {
     //   document.querySelector("#qrcode > img").style.display = "inline";
    },2000 )

    var stepNumber = 1;
    var isClickByUser = false;
    var meetingType = 0;
    var selectedOption = [];
    var isFlue = null;
    var isError = false;
    var isClickByCancel = false;
    var isClickDeliveryCancel = false;
    var isDelivery = false;
    var isHomeDelivery = false;
    var isSignInBarcode = false;
    var src = {
    }

    var EmployeeNameArray = [

    ];

    LoadEmployeeToArray();

    function LoadEmployeeToArray() {

                $.ajax({
                    url: "@Url.Action("ListEmployee", "Appointment")",
                    type: "GET",
                    success: function (data) {

                        data.map((item, index) => {
                            src[item.name] = item.id
                            EmployeeNameArray.push(item.name);
                        });


                        return data;

                    }
                });

    }


    function onSelectItem(item, element) {
    }

    $("#visitingEmployee").autocomplete({
        treshold : 1,
        source: src,
        onSelectItem: onSelectItem,
        highlightClass: 'text-danger',

    });

    Webcam.on('error', function (err) {
        isError = true;
        $('#lblPhoto').hide()
        $('#takePhoto').hide()
        $("#profileImage").hide()
        $('#lblErrorPhoto').show()
        $("#btnSendPhoto").prop("disabled", true);

    });


    function take_snapshot() {

        // take snapshot and get image data
        Webcam.snap(function (data_uri) {
            // display results in page
            //openFile
            //document.getElementById('results').innerHTML = '<img src="' + data_uri + '"/>';
            //var blob = dataURItoBlob(data_uri);
            // document.querySelector('#openFile').files = blob;
            $("#PhotoSkip").text("Next");
            document.getElementById('profileImage').setAttribute('src', `${data_uri}`);
            $("#modal-camera").modal('hide')
        });

        Webcam.reset();
    }

    function btnNext(formNumber) {



        let phoneNumber = $("#phoneNumber").val();
        let fullName = $("#formFullName").val();
        let companyName = $("#company").val();
        let otherReason = $("#otherReason").val();
        let carRegistrationNumber = $("#carRegistrationNumber").val();
        let visitingEmployee = $("#visitingEmployee").val();
        let barcode = $("#txtBarcode").val();




        @*if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {


            if (formNumber == 21) {

                var letSignBarCode = $("#txtSignInBarCode").val();

                 $.ajax({
                            type: "POST",
                            url: "@Url.Action("SignInUsingInvite", "Appointment")",
                            data: { Barcode: letSignBarCode },
                            success: function (response) {

                                if (response != "Error") {



                                   $("#SignInBarCode").hide();
                                   $("#SignInBarCodeOut").show();

                                    setTimeout(function () {

                                         $("#SignInBarCodeOut").hide();
                                          window.location.href = '@Url.Action("ThankYou", "Appointment")'
                                    },3000)

                                    return;
                                } else {
                                    $("#val_SignInBarCode").text('Please enter the right barcode');
                                    $("#val_SignInBarCode").show();

                                    return;
                                }





                            },
                            failure: function (response) {
                                console.error(response.responseText);
                            },
                            error: function (response) {
                                console.error(response.responseText);
                            }
                        })



            }

            if (formNumber == 22) {

                $("#SignInBarCodeOut").hide();
                window.location.href = '@Url.Action("ThankYou", "Appointment")'
            }


            return;

        }*@



        if ($('#ElventhForm').is(':visible') == true) {
            if (isDelivery == true) {
                $("#firstForm").hide();
                $("#FourthForm").hide();
                $("#ElventhForm").hide();
                $("#TwelfthForm").show();
                $("#visitingEmployee").val('');
                stepNumber = 1;
                isDelivery = false;
                return;
            }
        }

        if ($('#TwelfthForm').is(':visible') == true) {

            isFlue = null;
            $("#ShowExit").hide();

        } else {

            $("#ShowExit").show();
        }


        if (isDelivery == true) {

            if (visitingEmployee === '') {
                $('#val_Visiting_Employee').show();
                document.getElementById("visitingEmployee").focus();
                return;
            } else {


                var row = {
                    FullName: $("#formFullName").val(),
                    PhoneNumber: phoneNumber,
                    CompanyName: companyName,
                    MeetingPurpose: meetingType,
                    MeetingDescription: otherReason,
                    CarRegistration: carRegistrationNumber, 
                    VisitingEmployee: visitingEmployee,
                    isFlu: isFlue
                };


                          $.ajax({
                            type: "POST",
                            url: "@Url.Action("AddAppoitment", "Appointment")",
                            data: { appointment: row },
                            success: function (response) {


                                if (response != undefined) {


                                    $('#val_Visiting_Employee').hide();
                                    $('#visitingEmployee').blur();


                                    $("#firstForm").hide();
                                    $("#FourthForm").hide();
                                    $("#ElventhForm").show();
 

                                    setTimeout(() => {
                                        if (isDelivery == true) {
                                            $("#firstForm").hide();
                                            $("#FourthForm").hide();
                                            $("#ElventhForm").hide();
                                            $("#TwelfthForm").show();
                                            $("#visitingEmployee").val('');
                                            stepNumber = 1;
                                            isDelivery = false;
                                        }
                                    }, 10000)

                                  

                                    $.ajax({
                                        type: "GET",
                                        url: "@Url.Action("PrintPage", "Admin")",
                                        data: { Id: response.id },
                                        success: function (response) {


                                        },
                                        failure: function (response) {
                                            console.error(response.responseText);
                                        },
                                        error: function (response) {
                                            console.error(response.responseText);
                                        }
                                    })


                                     
 
                                }

                            },
                            failure: function (response) {
                                console.error(response.responseText);



                            },
                            error: function (response) {
                                console.error(response.responseText);
                            }
                        })


                return;


            }

        }

        if (formNumber == 20) {
            $('#TwelfthForm').hide();
            $('#SignInForm').hide();
            $("#SignInBarCodeOut").hide();
            $("#firstForm").show();
            $("#SignInBarCode").show();
            $("#txtSignInBarCode").val('');
            document.getElementById("txtSignInBarCode").focus();
            $("#val_SignInBarCode").text("Please enter your barcode");
            $("#val_SignInBarCode").hide();
            $("#ShowExit").show();
            return;
        }
        //txtSignInBarCode
        //val_SignInBarCode
        if (formNumber == 21) {

            var SignInBarCode = $("#txtSignInBarCode").val();

            if (SignInBarCode != '') {


                var row = {
                    FullName: $("#formFullName").val(),
                    PhoneNumber: phoneNumber,
                    CompanyName: companyName,
                    MeetingPurpose: meetingType,
                    MeetingDescription: otherReason,
                    CarRegistration: carRegistrationNumber,
                    PhotoName: data == undefined ? null : data,
                    VisitingEmployee: visitingEmployee,
                    isFlu: isFlue
                };



                      $.ajax({
                            type: "POST",
                            url: "@Url.Action("SignInUsingInvite", "Appointment")",
                            data: { Barcode: txtSignInBarCode },
                            success: function (response) {

                                if (response != "Error") {
                                    $("#val_SignInBarCode").hide();
                                    $('#TwelfthForm').hide();
                                    $("#SignInBarCode").hide();
                                    $("#firstForm").show();
                                    $("#SignInBarCodeOut").show();
                                    isSignInBarcode = false;
                                    setTimeout(() => {
                                        if (isSignInBarcode == false) {
                                            $('#TwelfthForm').hide();
                                            $("#SignInBarCode").hide();
                                            $("#firstForm").hide();
                                            $("#SignInBarCodeOut").hide();
                                            $('#TwelfthForm').show();
                                            $("#ShowExit").hide()
                                            isSignInBarcode = true;
                                        }
                                    }, 10000)
                                    $("#val_SignInBarCode").text('Please enter barcode');


                                      $.ajax({
                                            type: "GET",
                                            url: "@Url.Action("PrintPage", "Admin")",
                                            data: { Id: response },
                                            success: function (response1) {




                                            },
                                            failure: function (response1) {
                                                console.error(response.responseText);
                                            },
                                            error: function (response1) {
                                                console.error(response.responseText);
                                            }
                                      })



                                    return;
                                } else {
                                    $("#val_SignInBarCode").text('Please enter the right barcode');
                                    $("#val_SignInBarCode").show();

                                    return;
                                }





                            },
                            failure: function (response) {
                                console.error(response.responseText);
                            },
                            error: function (response) {
                                console.error(response.responseText);
                            }
                        })







                return;
            } else {
                $("#val_SignInBarCode").show();
                return;
            }



            return;
        }

        if (formNumber == 22) {
            $('#TwelfthForm').hide();
            $("#SignInBarCode").hide();
            $("#firstForm").hide();
            $("#SignInBarCodeOut").hide();
            $('#TwelfthForm').show();
            $("#ShowExit").hide()
            isSignInBarcode = true;
            return;
        }

        if (formNumber == 13) {

            $("#TwelfthForm").hide();
            $("#SecondForm").hide();
            $("#firstForm").show();
            $("#SignInForm").hide();
            $("#txtBarcode").val('');
            $("#ShowExit").show()
            $("#barCodeArea").show();
            $("#SignOutForm").hide();
            document.getElementById("txtBarcode").focus();
            return;
        }

        if (formNumber == 14) {


            $("#TwelfthForm").hide();
            $("#SecondForm").hide();
            $("#firstForm").show();
            $("#ShowExit").show()
            if ($('#barCodeArea:visible').length == 0) {
                $("#barCodeArea").hide();
                $("#SignOutForm").show();
                return;
            }


            if (barcode === '') {
                $('#val_Barcode').show();
                document.getElementById("txtBarcode").focus();
                return;
            } else {



                 $.ajax({
                            type: "POST",
                            url: "@Url.Action("BarcodeSignOut", "Appointment")",
                            data: { Barcode: barcode },
                            success: function (response) {

                                if (response != "Error") {


                                    isClickByCancel = false
                                    $('#val_Barcode').hide();
                                    $('#txtBarcode').blur();

                                    $("#barCodeArea").hide();
                                    $("#SignOutForm").show();


                                    setTimeout(() => {
                                        if (isClickByCancel == false) {
                                            $("#TwelfthForm").hide();
                                            $("#SecondForm").hide();
                                            $("#firstForm").show();

                                            $("#barCodeArea").hide();
                                            $("#SignOutForm").hide();
                                            $("#TwelfthForm").show();
                                            isClickByCancel = false;
                                        }
                                    }, 10000)


                                } else {
                                    $("#val_Barcode").text("Please enter right barcode")
                                    $("#ShowExit").show()
                                    $("#val_Barcode").show();
                                }





                            },
                            failure: function (response) {
                                console.error(response.responseText);



                            },
                            error: function (response) {
                                console.error(response.responseText);
                            }
                        })


                return;
            }
            return;


        }

        if (formNumber == 15) {

            $("#TwelfthForm").hide();
            $("#SecondForm").hide();
            $("#firstForm").show();


            $("#barCodeArea").hide();
            $("#SignOutForm").hide();
            $("#TwelfthForm").show();
            isClickByCancel = true;



            return;
        }

        if (formNumber == 12) {

            $("#TwelfthForm").hide();
            $("#firstForm").show();
            stepNumber = 0;
            $("#ShowExit").show();
            document.getElementById("formFullName").focus();

        }

        if (formNumber == 1) {

            if (meetingType == 0) {
                $("#val_Purpose").show();
                return;
            } else {
                $("#val_Purpose").hide();
            }

            if (meetingType == 3) {
                if (otherReason === '') {
                    $("#val_Reason").show();
                    document.getElementById("otherReason").focus();
                    return;
                } else {
                    $("#val_Reason").hide();
                    $('#otherReason').blur();
                }
            }


        }

        if (formNumber == 2) {
            if (fullName === '') {
                $('#val_FullName').show();
                document.getElementById("formFullName").focus();
                return;
            } else {
                $('#val_FullName').hide();
                $('#formFullName').blur();
            }
        }

        if (formNumber == 3) {

            if (companyName === '') {
                $('#val_CompanyName').show();
                document.getElementById("company").focus();
                return;
            } else {
                $('#val_CompanyName').hide();
                $('#company').blur();
            }
        }

        if (formNumber == 4) {
            if (visitingEmployee === '') {
                $('#val_Visiting_Employee').show();
                document.getElementById("visitingEmployee").focus();
                return;
            } else {
                $('#val_Visiting_Employee').hide();
                $('#visitingEmployee').blur();
            }



            if (EmployeeNameArray.indexOf(visitingEmployee) === -1) {
                $('#val_Visiting_Employee').show();
                document.getElementById("visitingEmployee").focus();
                return;
            } else {
                $('#val_Visiting_Employee').hide();
                $('#visitingEmployee').blur();
            }
        }

        if (formNumber == 6) {
            if (phoneNumber != '') {
                if (isValidPhone(phoneNumber) == false) {
                    $('#val_PhoneNumber').show();
                    document.getElementById("phoneNumber").focus();
                    return;
                } else {
                    $('#val_PhoneNumber').hide();
                    $('#phoneNumber').blur();
                }

            }
        }

        if (formNumber == 7) {
            if (isFlue == null) {
                $('#val_Flue').show();
                return;
            } else {
                $('#val_Flue').hide();
            }
        }

        if (formNumber == 8) {
            $("#setFullName").text(fullName);
            $("#setCompany").text(companyName);
            $("#setPhone").text(phoneNumber);
            $("#setRegistration").text(carRegistrationNumber);
            $("#setEmployee").text($("#visitingEmployee").val());


            if (meetingType == 1) {
                //Meeting
                $("#setMeeting").text("Meeting");
            }

            if (meetingType == 2) {
                //Contractor
                $("#setMeeting").text("Contractor");
            }

            if (meetingType == 3) {
                //other
                $("#setMeeting").text("other Reason");
            }


            if (meetingType == 4) {
                //other
                $("#setMeeting").text("Interview");
            }


            if (meetingType == 5) {
                //other
                $("#setMeeting").text("Delivery");
            }

        }

        if (formNumber == 10) {


            const file = dataURItoBlob($("#profileImage")[0].currentSrc);
            const formData = new FormData();
            formData.append("file", file);



            $.ajax({
                    url: "@Url.Action("UploadImage", "Appointment")",
                    data: formData,
                    processData: false,
                    contentType: false,
                    type: "POST",
                    success: function (data) {


                        var row = {
                            FullName: $("#formFullName").val(),
                            PhoneNumber: phoneNumber,
                            CompanyName: companyName,
                            MeetingPurpose: meetingType,
                            MeetingDescription: otherReason,
                            CarRegistration: carRegistrationNumber,
                            PhotoName: data == undefined ? null : data,
                            VisitingEmployee: visitingEmployee,
                            isFlu: isFlue
                        };




                          $.ajax({
                            type: "POST",
                            url: "@Url.Action("AddAppoitment", "Appointment")",
                            data: { appointment: row },
                            success: function (response) {


                                if (response != undefined) {

                                    $.ajax({
                                        type: "GET",
                                        url: "@Url.Action("PrintPage", "Admin")",
                                        data: { Id: response.id },
                                        success: function (response) {


                                        },
                                        failure: function (response) {
                                            console.error(response.responseText);
                                        },
                                        error: function (response) {
                                            console.error(response.responseText);
                                        }
                                    })



                                      if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {

                                          window.location.href = '@Url.Action("ThankYou", "Appointment")';
                                          return;
                                      }

                                    meetingType = 0;

                                    $("#phoneNumber").val('');
                                    $("#formFullName").val('');
                                    $("#company").val('');
                                    $("#otherReason").val('');
                                    $("#visitingEmployee").val('');
                                    $("#carRegistrationNumber").val('');
                                    $("#OtherReason").hide();
                                    $("#btnOptionOne").css({ "backgroundColor": "#17a2b8" });
                                    $("#btnOptionTwo").css({ "backgroundColor": "#17a2b8" });
                                    $("#btnOptionThree").css({ "backgroundColor": "#17a2b8" });
                                    $("#btnOptionFour").css({ "backgroundColor": "#17a2b8" });
                                    $("#btnOptionFive").css({ "backgroundColor": "#17a2b8" });
                                    $("#btnHasFlu").css({ "backgroundColor": "#c82333" });
                                    $("#btnNoFlu").css({ "backgroundColor": "#218838" });
                                    $("#openFile").val('');
                                    $("#profileImage").attr("src", "https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png");
                                    $('#val_PhoneNumber').hide();

                                    //$("#ElventhForm").hide();
                                    //$("#TwelfthForm").show();

                                }

                            },
                            failure: function (response) {
                                console.error(response.responseText);



                            },
                            error: function (response) {
                                console.error(response.responseText);
                            }
                        })




                        return;
                    }
             });

        }


        stepNumber = stepNumber + 1;

        if (stepNumber == 1) {

            $("#TwelfthForm").hide();
            $("#SecondForm").hide();
            $("#firstForm").show();
            $("#SignInForm").show();
            //document.getElementById("formFullName").focus();
            //$("#formFullName").focus();

        }

        if (stepNumber == 2) {

            $("#TwelfthForm").hide();

            $("#firstForm").hide();
            $("#SecondForm").show();

            document.getElementById("formFullName").focus();
        }

        if (stepNumber == 3) {

            $("#TwelfthForm").hide();
            $("#SecondForm").hide();
            $("#ThirdForm").show();
            document.getElementById("company").focus();
        }

        if (stepNumber == 4) {

            $("#TwelfthForm").hide();
            $("#ThirdForm").hide();
            $("#FourthForm").show();

            document.getElementById("visitingEmployee").focus();
        }

        if (stepNumber == 5) {


            $("#TwelfthForm").hide();
            $("#FourthForm").hide();
            $("#FiftForm").show();
            document.getElementById("carRegistrationNumber").focus();
        }

        if (stepNumber == 6) {


            $("#TwelfthForm").hide();
            $("#FiftForm").hide();
            $("#SixthForm").show();
            document.getElementById("phoneNumber").focus();
        }

        if (stepNumber == 7) {

            if (isError == false) {

                $('#lblPhoto').show()
                $('#takePhoto').show()
                $('#lblErrorPhoto').hide()
                $("#btnSendPhoto").prop("disabled", true);

            }

            $("#TwelfthForm").hide();
            $("#SixthForm").hide();
            $("#SeventhForm").show();
        }

        if (stepNumber == 8) {
            $("#AcknowledgeList").animate({
                scrollTop: 10
            }, 500);
            //$("#setEndFullName").text(`Welcome ${fullName}`);
            $("#TwelfthForm").hide();
            $("#SeventhForm").hide();
            $("#EightForm").show();
        }

        if (stepNumber == 9) {
            $("#TwelfthForm").hide();
            $("#EightForm").hide();
            $("#NinthForm").show();
        }

        if (stepNumber == 10) {
            $("#TwelfthForm").hide();
            $("#NinthForm").hide();
            $("#TenthForm").show();

        }

        if (stepNumber == 11) {



            isClickByUser = false;
            $("#TwelfthForm").hide();
            $("#TenthForm").hide();
            $("#ElventhForm").show();
            $("#btnAcknowledge").prop("disabled", true);
            $("#ShowExit").hide();

            setTimeout(() => {
                if (isClickByUser == false) {
                    $("#ElventhForm").hide();
                    $("#TwelfthForm").show();
                    $("#ShowExit").hide();
                    isClickByUser = false;
                    stepNumber = 1;
                }
            },10000)



        }

        if (stepNumber == 12) {

            $("#ElventhForm").hide();
            $("#TwelfthForm").show();
            isClickByUser = true;
            stepNumber = 1;


        }

        if (stepNumber == 13) {
            stepNumber = 12;
        }
    }

    function btnPrev() {

        if (isDelivery == true) {
            $("#firstForm").hide();
            $("#FourthForm").hide();
            $("#ElventhForm").hide();
            $("#TwelfthForm").show();
            $("#visitingEmployee").val('');
            stepNumber = 1;
            isDelivery = false;
            return;
        }



        if (stepNumber == 1) {
            $("#firstForm").hide();
            $("#SecondForm").show();
        }

        if (stepNumber == 2) {
            $("#firstForm").show();
            $("#SecondForm").hide();
            stepNumber = 1;
        }

        if (stepNumber == 3) {
            $("#SecondForm").show();
            $("#ThirdForm").hide();
            stepNumber = 2;
        }

        if (stepNumber == 4) {
            $("#ThirdForm").show();
            $("#FourthForm").hide();
            stepNumber = 3;
        }

        if (stepNumber == 5) {
            $("#FourthForm").show();
            $("#FiftForm").hide();
            stepNumber = 4;
        }

        if (stepNumber == 6) {
            $("#FiftForm").show();
            $("#SixthForm").hide();
            stepNumber = 5;
        }

        if (stepNumber == 7) {
            $("#SixthForm").show();
            $("#SeventhForm").hide();
            stepNumber = 6;
        }

        if (stepNumber == 8) {
            $("#SeventhForm").show();
            $("#EightForm").hide();
            stepNumber = 7;
        }

        if (stepNumber == 9) {
            $("#EightForm").show();
            $("#NinthForm").hide();
            stepNumber = 8;



        }

        if (stepNumber == 10) {


            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
            })

            swalWithBootstrapButtons.fire({
                title: 'Are you sure?',
                text: "Are you sure to cancel it?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, cancel it!',
                cancelButtonText: 'No,',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {

                    meetingType = 0;

                    $("#phoneNumber").val('');
                    $("#formFullName").val('');
                    $("#company").val('');
                    $("#otherReason").val('');
                    $("#visitingEmployee").val('');
                    $("#carRegistrationNumber").val('');
                    $("#OtherReason").hide();
                    $("#btnOptionOne").css({ "backgroundColor": "#17a2b8" });
                    $("#btnOptionTwo").css({ "backgroundColor": "#17a2b8" });
                    $("#btnOptionThree").css({ "backgroundColor": "#17a2b8" });
                    $("#btnOptionFour").css({ "backgroundColor": "#17a2b8" });
                    $("#btnOptionFive").css({ "backgroundColor": "#17a2b8" });
                    $("#btnHasFlu").css({ "backgroundColor": "#c82333" });
                    $("#btnNoFlu").css({ "backgroundColor": "#218838" });
                    $("#openFile").val('');
                    $("#profileImage").attr("src", "https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png");

                    $("#TwelfthForm").show();
                    stepNumber = 1;

                    //swalWithBootstrapButtons.fire(
                    //    'Cancelled!',
                    //    'Your appointment is cancelled',
                    //    'success'
                    //)

                    $("#TenthForm").hide();

                }
            })

        }


        if (stepNumber == 11) {
            $("#TenthForm").show();
            $("#ElventhForm").hide();
            stepNumber = 10;
        }



    }

    function jumpToForm(FormNumber) {

        $("#TenthForm").hide();


        if (FormNumber == 1) {
            $("#firstForm").show();
            stepNumber = 1;
        }

        if (FormNumber == 2) {
            $("#SecondForm").show();
            stepNumber = 2;
        }

        if (FormNumber == 3) {
            $("#ThirdForm").show();
            stepNumber = 3;
        }

        if (FormNumber == 4) {
            $("#FourthForm").show();
            stepNumber = 4;
        }

        if (FormNumber == 6) {
            $("#SixthForm").show();
            stepNumber = 6;
        }

        if (FormNumber == 5) {
            $("#FiftForm").show();
            stepNumber = 5;
        }


    }

    function btnMeetingPurpose(optionNumber) {
        meetingType = optionNumber;
        $("#ShowExit").show();
        if (optionNumber == 1) {
            meetingType = 1;
            $("#btnOptionOne").css({ "backgroundColor": "#17a2b8" });
            $("#btnOptionTwo").css({ "backgroundColor": "#62bcca" });
            $("#btnOptionThree").css({ "backgroundColor": "#62bcca" });
            $("#btnOptionFour").css({ "backgroundColor": "#62bcca" });
            $("#btnOptionFive").css({ "backgroundColor": "#62bcca" });
            $("#OtherReason").hide();
            $("#OtherReason").val('');

        }

        if (optionNumber == 2) {
            meetingType = 2;
            $("#btnOptionOne").css({ "backgroundColor": "#62bcca" });
            $("#btnOptionTwo").css({ "backgroundColor": "#17a2b8" });
            $("#btnOptionThree").css({ "backgroundColor": "#62bcca" });
            $("#btnOptionFour").css({ "backgroundColor": "#62bcca" });
            $("#btnOptionFive").css({ "backgroundColor": "#62bcca" });
            $("#OtherReason").hide();
            $("#OtherReason").val('');
        }

        if (optionNumber == 3) {
            meetingType = 3;
            $("#btnOptionOne").css({ "backgroundColor": "#62bcca" });
            $("#btnOptionTwo").css({ "backgroundColor": "#62bcca" });
            $("#btnOptionThree").css({ "backgroundColor": "#17a2b8" });
            $("#btnOptionFour").css({ "backgroundColor": "#62bcca" });
            $("#btnOptionFive").css({ "backgroundColor": "#62bcca" });
            $("#OtherReason").show();
            document.getElementById("otherReason").focus();
        }

        if (optionNumber == 4) {
            meetingType = 4;
            $("#btnOptionOne").css({ "backgroundColor": "#62bcca" });
            $("#btnOptionTwo").css({ "backgroundColor": "#62bcca" });
            $("#btnOptionThree").css({ "backgroundColor": "#62bcca" });
            $("#btnOptionFour").css({ "backgroundColor": "#17a2b8" });
            $("#btnOptionFive").css({ "backgroundColor": "#62bcca" });
            $("#OtherReason").hide();
            $("#OtherReason").val('');

            //


        }

        if (optionNumber == 5) {
            meetingType = 5;
            $("#btnOptionOne").css({ "backgroundColor": "#62bcca" });
            $("#btnOptionTwo").css({ "backgroundColor": "#62bcca" });
            $("#btnOptionThree").css({ "backgroundColor": "#62bcca" });
            $("#btnOptionFour").css({ "backgroundColor": "#62bcca" });
            $("#btnOptionFive").css({ "backgroundColor": "#17a2b8" });
            $("#OtherReason").hide();
            $("#OtherReason").val('');


            $("#btnOptionOne").css({ "backgroundColor": "#17a2b8" });
            $("#btnOptionTwo").css({ "backgroundColor": "#17a2b8" });
            $("#btnOptionThree").css({ "backgroundColor": "#17a2b8" });
            $("#btnOptionFour").css({ "backgroundColor": "#17a2b8" });
            $("#btnOptionFive").css({ "backgroundColor": "#17a2b8" });

            stepNumber = 3;

            $("#firstForm").hide();
            $("#FourthForm").show();
            isDelivery = true;
        }


        //Do the thing


    }

    $("#takePhoto").on('click', function () {
        $("#btnSendPhoto").prop("disabled", true);
        //$("#openFile").click();
        Webcam.set({
            width: 320,
            height: 240,
            image_format: 'jpeg',
            jpeg_quality: 90
        });
        $("#modal-camera").modal('show')
        Webcam.attach('#my_camera');

        setTimeout(() => {
            $("#btnSendPhoto").prop("disabled", false);

        },1000)


    });

    function previewFile(input) {
        var file = $("input[type=file]").get(0).files[0];

        if (file) {
            var reader = new FileReader();

            reader.onload = function () {
                $("#profileImage").attr("src", reader.result);
            }

            reader.readAsDataURL(file);
        }
    }

    function dataURItoBlob(dataURI) {
        // convert base64/URLEncoded data component to raw binary data held in a string
        var byteString;
        if (dataURI.split(',')[0].indexOf('base64') >= 0)
            byteString = atob(dataURI.split(',')[1]);
        else
            byteString = unescape(dataURI.split(',')[1]);

        // separate out the mime component
        var mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0];

        // write the bytes of the string to a typed array
        var ia = new Uint8Array(byteString.length);
        for (var i = 0; i < byteString.length; i++) {
            ia[i] = byteString.charCodeAt(i);
        }

        return new Blob([ia], { type: mimeString });
    }

    function SetFlu(value) {
        isFlue = value;




        if (value == true) {

            $("#btnHasFlu").css({ "backgroundColor": "#c82333" });
            $("#btnNoFlu").css({ "backgroundColor": "#6dbf80" });

        } else {
            $("#btnHasFlu").css({ "backgroundColor": "#f36876" });
            $("#btnNoFlu").css({ "backgroundColor": "#218838" });
        }
    }

    function isValidPhone(p) {
        var phoneRe = /(^[0][2][12579]{1})(\d{6,7}$)/;
        var digits = p.replace(/\D/g, "");
        return phoneRe.test(digits);
    }

    function Exit() {
        if (stepNumber < 11) {


            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
            })

            swalWithBootstrapButtons.fire({
                title: 'Are you sure?',
                text: "Are you sure to cancel it?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, cancel it!',
                cancelButtonText: 'No,',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {



                    $("#phoneNumber").val('');
                    $("#formFullName").val('');
                    $("#company").val('');
                    $("#otherReason").val('');
                    $("#visitingEmployee").val('');
                    $("#carRegistrationNumber").val('');
                    $("#OtherReason").hide();
                    $("#btnOptionOne").css({ "backgroundColor": "#17a2b8" });
                    $("#btnOptionTwo").css({ "backgroundColor": "#17a2b8" });
                    $("#btnOptionThree").css({ "backgroundColor": "#17a2b8" });
                    $("#btnOptionFour").css({ "backgroundColor": "#17a2b8" });
                    $("#btnOptionFive").css({ "backgroundColor": "#17a2b8" });
                    $("#btnHasFlu").css({ "backgroundColor": "#007bff" });
                    $("#btnNoFlu").css({ "backgroundColor": "#dc3545" });
                    $("#openFile").val('');
                    $("#profileImage").attr("src", "https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png");
                    $('#val_PhoneNumber').hide();
                    stepNumber = 1;
                    isDelivery = false;

                    $("#firstForm").hide();
                    $("#SecondForm").hide();
                    $("#ThirdForm").hide();
                    $("#FourthForm").hide();
                    $("#FiftForm").hide();
                    $("#SixthForm").hide();
                    $("#SeventhForm").hide();
                    $("#EightForm").hide();
                    $("#NinthForm").hide();
                    $("#TenthForm").hide();
                    $("#ElventhForm").hide();
                    $("#SignOutForm").hide();
                    $("#barCodeArea").hide();
                    $("#TwelfthForm").show();
                    $('#TwelfthForm').hide();
                    $("#SignInBarCodeOut").hide();
                    $("#firstForm").hide();
                    $("#SignInBarCode").hide();

                    $("#ShowExit").hide()

                    $('#TwelfthForm').show();


                }
            })

        }
    }

</script>

