
@{
    ViewData["Title"] = "A";
    Layout = "/Views/Appointment/_Layout.cshtml";
}

<style>
    #qrcode-container {
        display: none;
    }

    .qrcode {
        padding: 16px;
    }

        .qrcode img {
            margin: 0 auto;
        }

    .swal2-cancel {
        margin-right: 10px;
    }

    #ThirdForm > div:nth-child(2) > span.select2.select2-container.select2-container--default.select2-container--below {
        width: 100%;
    }

    body label {
        font-size: 26px;
    }

    body .text-danger {
        font-size: 26px;
    }

    div > h3 {
        font-size: 26px;
    }

   /* .btn {
        font-size: 26px !important;
    }*/

    input,
    input::-webkit-input-placeholder {
        font-size: 20px !important;
    }

    .dropdown-item {
        font-size: 20px !important;
    }

    .dropdown-menu {
        width: 100%;
    }

    .text-center .text-info {
        font-size: 26px !important;
    }

    #SeventhForm > div:nth-child(2) > p {
        font-size: 26px !important;
    }

    ul > li {
        font-size: 26px !important;
    }

    #lblErrorPhoto {
        font-size: 26px !important;
    }
</style>

<style>
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

        .slider.round:before {
            border-radius: 50%;
        }
</style>

<div id="login"> 
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-12">
                <div id="login-box" class="col-md-12">
                    <div id="login-form" class="form">

                        <div id="firstForm" style="display:none;">
                            <h3 class="text-center text-info">Welcome!</h3>

                            <div class="form-group">
                                <label for="username" class="text-info">Enter your first name and last name and select <strong>next*</strong></label><br>
                                <input type="text" class="form-control" id="formFullName" autofocus autocomplete="off" />
                                <span class="text-danger" id="val_FullName" style="display:none;">Please enter your full name</span>
                            </div>


                            <div class="form-group">
                                <button class="btn btn-change-button btn-block" role="button" onclick="btnNext(1)"> <span class="text"><i class="fas fa-sign-in-alt"></i> &nbsp; Next</span> </button>
                                @*<button onclick="btnNext(1)" type="button" class="button-64 btn-block">Next</button>*@
                            </div>

                        </div>

                        <div id="SecondForm" style="display:none;">
                            <h3 class="text-center text-info">Welcome!</h3>

                            <div class="form-group">
                                <label for="username" class="text-info">Enter Your Company Name:</label><br>
                                <input type="text" class="form-control" id="company" autocomplete="off" />
                                <span class="text-danger" id="val_CompanyName" style="display:none;">Please enter your company name</span>
                            </div>

                            <div class="form-group">


                                <div class="row">
                                    <div class="col-md-6">
                                        <button onclick="btnPrev()" type="button" class="btn btn-change-previous btn-danger col-12"><i class="fas fa-backward"></i>&nbsp; Previous</button>
                                    </div>

                                    <div class="col-md-6">
                                        <button onclick="btnNext(2)" type="button" class="btn btn-info btn-change-button col-12">Next <i class="fas fa-forward"></i>&nbsp;</button>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div id="ThirdForm" style="display:none;">

                            <h3 class="text-center text-info">Welcome!</h3>

                            <div class="form-group">
                                <label for="username" class="text-info">Visiting Employee:</label><br>
                                <input type="text" class="form-control" id="visitingEmployee" autocomplete="off" />
                                <span class="text-danger" id="val_Visiting_Employee" style="display:none;">Your employee name does'nt match with our record</span>

                            </div>

                            <div class="form-group">


                                <div class="row">
                                    <div class="col-md-6">
                                        <button onclick="btnPrev()" type="button" class="btn btn-change-previous btn-danger col-12"><i class="fas fa-backward"></i>&nbsp; Previous</button>
                                    </div>

                                    <div class="col-md-6">
                                        <button onclick="btnNext(3)" type="button" class="btn btn-info btn-change-button col-12">Next <i class="fas fa-forward"></i>&nbsp;</button>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div id="FourthForm" style="display:none;">

                            <h3 class="text-center text-info">What is the purpose of your visit!</h3>
                            <span class="text-danger" id="val_Purpose" style="display: table; margin: 0 auto; display:none;">Please choose your purpose</span>

                            <div class="row mb-4 mt-4">
                                <div class="col-md-4">
                                    <button onclick="btnMeetingPurpose(1)" id="btnOptionOne" type="button" class="btn btn-info   col-12">Meeting</button>
                                </div>

                                <div class="col-md-4">
                                    <button onclick="btnMeetingPurpose(2)" id="btnOptionTwo" type="button" class="btn btn-info   col-12">Contractor</button>
                                </div>

                                <div class="col-md-4">
                                    <button onclick="btnMeetingPurpose(3)" id="btnOptionThree" type="button" class="btn btn-info   col-12">Other</button>
                                </div>

                            </div>


                            <div class="form-group" id="OtherReason" style="display:none;">
                                <label for="username" class="text-info">Your other reason:</label><br>
                                <input type="text" class="form-control" id="otherReason" autocomplete="off" />
                                <span class="text-danger" id="val_Reason" style="display:none">Reason is required</span>
                            </div>




                            <div class="form-group">


                                <div class="row">
                                    <div class="col-md-6">
                                        <button onclick="btnPrev()" type="button" class="btn btn-change-previous btn-danger col-12"><i class="fas fa-backward"></i>&nbsp; Previous</button>
                                    </div>

                                    <div class="col-md-6">
                                        <button onclick="btnNext(4)" type="button" class="btn btn-info btn-change-button col-12">Next <i class="fas fa-forward"></i>&nbsp;</button>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div id="FiftForm" style="display:none;">
                            <h3 class="text-center text-info">Welcome!</h3>


                            <div class="form-group" id="OtherReason">
                                <label for="username" class="text-info">Car Registration Number:</label><br>
                                <input type="text" class="form-control" id="carRegistrationNumber" autocomplete="off" />
                                <span class="text-danger" id="val_CarRegistration" style="display:none">Please enter your car registration number</span>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <button onclick="btnPrev()" type="button" class="btn btn-change-previous btn-danger col-12"><i class="fas fa-backward"></i>&nbsp; Previous</button>
                                    </div>

                                    <div class="col-md-6">
                                        <button onclick="btnNext(5)" type="button" class="btn btn-info btn-change-button col-12">Next <i class="fas fa-forward"></i>&nbsp;</button>
                                    </div>
                                </div>
                            </div>

                        </div>



                        <div id="SixthForm" style="display:none;">
                            <h3 class="text-center text-info">Welcome!</h3>



                            <div class="form-group">
                                <label for="username" class="text-info">Enter your mobile number:</label><br>
                                <input type="text" id="phoneNumber" class="form-control" autocomplete="off">
                                <span class="text-danger" id="val_PhoneNumber" style="display:none;">Your phone number is invalid</span>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <button onclick="btnPrev()" type="button" class="btn btn-change-previous btn-danger col-12"><i class="fas fa-backward"></i>&nbsp; Previous</button>
                                    </div>

                                    <div class="col-md-6">
                                        <button onclick="btnNext(6)" type="button" class="btn btn-info btn-change-button col-12">Next <i class="fas fa-forward"></i>&nbsp;</button>
                                    </div>
                                </div>
                            </div>


                        </div>

                        <div id="SeventhForm" style="display:none;">
                            <h3 class="text-center text-info">Please read & acknowledge</h3>


                            <div class="form-group" style="height:200px; overflow-y:scroll;">
                                <p class="text-white">Welcome to our workspace</p>

                                <ul class="text-white">
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                    <li>Curabitur non quam cursus lorem aliquam sollicitudin.</li>
                                    <li>Maecenas at neque vitae orci accumsan eleifend ac a ligula.</li>
                                </ul>
                                <ul class="text-white">
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                    <li>Curabitur non quam cursus lorem aliquam sollicitudin.</li>
                                    <li>Maecenas at neque vitae orci accumsan eleifend ac a ligula.</li>
                                </ul>


                                <ul class="text-white">
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                    <li>Curabitur non quam cursus lorem aliquam sollicitudin.</li>
                                    <li>Maecenas at neque vitae orci accumsan eleifend ac a ligula.</li>
                                </ul>



                            </div>





                            <div class="form-group">


                                <div class="row">
                                    <div class="col-md-6">
                                        <button onclick="btnPrev()" type="button" class="btn btn-change-previous btn-danger col-12"><i class="fas fa-backward"></i>&nbsp; Previous</button>
                                    </div>

                                    <div class="col-md-6">
                                        <button onclick="btnNext(7)" type="button" class="btn btn-info btn-change-button col-12">Acknowledge <i class="fas fa-forward"></i>&nbsp;</button>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div id="EightForm" style="display:none;">

                            <h3 class="text-center text-info" id="lblPhoto">Add a photo</h3>
                            <h5 class="text-center text-info" id="lblErrorPhoto" style="display:none;">There is no associated camera found with this device</h5>

                            <div class="form-group text-center">
                                <img id="profileImage" src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png" style="height:100px; width:100px;" class="rounded-circle" alt="Cinque Terre">
                            </div>

                            <div class="form-group">


                                <div class="row">


                                    <div class="col-md-12 text-center">
                                        <button type="button" id="takePhoto" class="btn btn-info btn-change-button col-4 text-center"><i class="fas fa-camera-retro"></i>&nbsp; Take Photo </button>
                                        <input type="file" style="display:none" id="openFile" onchange="previewFile(this);" />
                                    </div>
                                </div>
                            </div>



                            <div class="form-group">


                                <div class="row">
                                    <div class="col-md-6">
                                        <button onclick="btnPrev()" type="button" class="btn btn-change-previous btn-danger col-12"><i class="fas fa-backward"></i>&nbsp; Previous</button>
                                    </div>

                                    <div class="col-md-6">
                                        <button onclick="btnNext(8)" type="button" class="btn btn-info btn-change-button col-12"><span id="PhotoSkip">Skip</span> <i class="fas fa-forward"></i>&nbsp;</button>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div id="NinthForm" style="display:none;">


                            <h5 class="text-center text-info">Please review your visitor record and select : <span class="text-danger">Proceed</span></h5>


                            <div class="form-group">

                                <ul class="list-group">
                                    <li class="list-group-item">Full Name : <span id="setFullName"></span>  <button class="btn btn-primary float-right" onclick="jumpToForm(1)">Edit</button> </li>
                                    <li class="list-group-item">Company Name : <span id="setCompany"></span> <button class="btn btn-primary float-right" onclick="jumpToForm(2)">Edit</button></li>
                                    <li class="list-group-item">Visiting Employee : <span id="setEmployee"></span> <button class="btn btn-primary float-right" onclick="jumpToForm(3)">Edit</button></li>
                                    <li class="list-group-item">Purpose of visit : <span id="setMeeting"></span> <button class="btn btn-primary float-right" onclick="jumpToForm(4)">Edit</button></li>
                                    <li class="list-group-item">Mobile Number : <span id="setPhone"></span> <button class="btn btn-primary float-right" onclick="jumpToForm(6)">Edit</button></li>
                                    <li class="list-group-item">Car Registration Number : <span id="setRegistration"></span> <button class="btn btn-primary float-right" onclick="jumpToForm(5)">Edit</button></li>
                                </ul>

                            </div>



                            <div class="form-group">


                                <div class="row">
                                    <div class="col-md-6">
                                        <button onclick="btnPrev()" type="button" class="btn btn-change-previous btn-danger col-12"><i class="fas fa-backward"></i>&nbsp; Cancel</button>
                                    </div>

                                    <div class="col-md-6">
                                        <button onclick="btnNext(9)" id="btnDone" type="button" class="btn btn-info btn-change-button col-12"><i class="fas fa-check"></i>&nbsp;Proceed </button>
                                    </div>
                                </div>
                            </div>


                        </div>

                        <div id="TenthForm" style="display:none;"> 
                            <div class="form-group">
                                <p class="text-white text-info" style="font-size:26px;" >Have you experienced flu like symptoms in the last 14 days?</p>
                                <div class="row">
 
                                    


                                    <div class="col-md-2">

                                        <button id="btnHasFlu" class="btn btn-primary" onclick="SetFlu(true)">Yes</button>
                                        <button id="btnNoFlu" class="btn btn-danger"  onclick="SetFlu(false)">No</button>
                                         
                                    </div>

                                </div>
                            </div>




                            <div class="form-group">


                                <div class="row">
                                    <div class="col-md-6">
                                        <button onclick="btnPrev()" type="button" class="btn btn-change-previous btn-danger col-12"><i class="fas fa-backward"></i>&nbsp; Previous</button>
                                    </div>

                                    <div class="col-md-6">
                                        <button onclick="btnNext(10)" id="btnDone" type="button" class="btn btn-info btn-change-button col-12"><i class="fas fa-check"></i>&nbsp;Next </button>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div id="ElventhForm" style="display:none;">


                            <h5 class="text-center text-info" id="setEndFullName">Welcome John Doe</h5>


                            <div class="card bg-success" style="color:white;">
                                <div class="card-body text-center">
                                    <i class="fas fa-sign-out-alt mb-5" style="font-size: 58px;"></i>
                                    <h6>You have succesfully check in</h6>
                                </div>
                            </div>

                            <br />

                            <div class="text-center">
                                <span class="text-white">@DateTime.Now.ToString("hh:mm tt dddd dd MMMM yyyy")</span>
                            </div>

                            <br />



                            <br />



                            <div class="form-group">


                                <div class="row">
                                    <div class="col-md-6">
                                        <button onclick="btnPrev()" type="button" class="btn btn-change-previous btn-danger col-12"><i class="fas fa-backward"></i>&nbsp; Previous</button>
                                    </div>

                                    <div class="col-md-6">
                                        <button onclick="btnNext(11)" type="button" class="btn btn-info btn-change-button col-12">Next <i class="fas fa-forward"></i>&nbsp;</button>
                                    </div>
                                </div>
                            </div>





                        </div>


                        <div id="TwelfthForm">

                            <div class="row">
                                <div class="col-md-12 text-center">

                                    <h1 class="text-white">
                                        <i class="far fa-address-card display-4"></i>
                                    </h1>
                                    <h1 class="text-white"><strong>Visitor Managment System</strong></h1>
                                    <h3 class="text-white">Welcome to VMS</h3>


                                </div>


                            </div>


                            <div class="row">

                                
                                <div class="col-md-3 mx-auto">
                                    <button class="btn btn-block btn-change-button mt-3" role="button" onclick="btnNext(12)"> <span class="text"><i class="fas fa-sign-in-alt"></i> &nbsp; Sign in</span> </button>
                                    <button class="btn btn-block btn-change-button mt-2" role="button"> <span class="text"><i class="fas fa-sign-out-alt"></i> &nbsp; Sign out</span> </button>


                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 text-center mt-4">
                                    <p class="text-white" id="demo">Scan the QR code using your smartphone's camera to sign in</p>

                                </div>
                             
                            </div>
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <div id="qrcode"></div>
                                </div>
                            </div>





                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="modal-camera" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <div id="my_camera"></div>
                <br />
                <input class="btn btn-primary btn-block" id="btnSendPhoto" type=button value="Take Photo" onClick="take_snapshot()">


            </div>
        </div>

    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="~/js/webcam.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="~/js/qrcode.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-4-autocomplete/dist/bootstrap-4-autocomplete.min.js" crossorigin="anonymous"></script>
<script>

    var qrcode = new QRCode(document.getElementById("qrcode"), {
        text: "https://arkitektz.com/",
        width: 100,
        height: 100,
        colorDark: "#000000",
        colorLight: "#ffffff",
        correctLevel: QRCode.CorrectLevel.H,
    });

    setTimeout(() => {
        document.querySelector("#qrcode > img").style.display = "inline";
    },2000 )

    var stepNumber = 1;
    var meetingType = 0;
    var selectedOption = [];
    var isFlue = true;
    var isError = false;
    var src = {
    }

    var EmployeeNameArray = [

    ];

    LoadEmployeeToArray();
    function LoadEmployeeToArray() {

                $.ajax({
                    url: "@Url.Action("ListEmployee", "Appointment")",
                    type: "GET",
                    success: function (data) {

                        data.map((item, index) => {
                            src[item.name] = item.id
                            EmployeeNameArray.push(item.name);
                        });


                        console.log(data);
                        return data;

                    }
                });

    }




    function onSelectItem(item, element) {
        console.log(item, element);
    }

    $("#visitingEmployee").autocomplete({
        treshold : 2,
        source: src,
        onSelectItem: onSelectItem,
        highlightClass: 'text-danger',

    });


    //$('.js-example-basic-single').select2({ width: '100%' });


    Webcam.on('error', function (err) {
        isError = true;
        $('#lblPhoto').hide()
        $('#takePhoto').hide()
        $("#profileImage").hide()
        $('#lblErrorPhoto').show()
        $("#btnSendPhoto").prop("disabled", true);

    });

    function take_snapshot() {

        // take snapshot and get image data
        Webcam.snap(function (data_uri) {
            // display results in page
            //openFile
            //document.getElementById('results').innerHTML = '<img src="' + data_uri + '"/>';
            //var blob = dataURItoBlob(data_uri);
            // document.querySelector('#openFile').files = blob;
            $("#PhotoSkip").text("Next");
            document.getElementById('profileImage').setAttribute('src', `${data_uri}`);
            $("#modal-camera").modal('hide')
        });

        Webcam.reset();
    }



    function btnNext(formNumber) {



        let phoneNumber = $("#phoneNumber").val();
        let fullName = $("#formFullName").val();
        let companyName = $("#company").val();
        let otherReason = $("#otherReason").val();
        let carRegistrationNumber = $("#carRegistrationNumber").val();
        let visitingEmployee = $("#visitingEmployee").val();

        if (formNumber == 12) {
            console.log(stepNumber)
            $("#TwelfthForm").hide();
            $("#firstForm").show();
            stepNumber = 0;
            document.getElementById("formFullName").focus();

        }


        if (formNumber == 1) {
            if (fullName === '') {
                $('#val_FullName').show();
                document.getElementById("formFullName").focus();
                return;
            } else {
                $('#val_FullName').hide();
                $('#formFullName').blur();
            }
        }


        if (formNumber == 2) {

            if (companyName === '') {
                $('#val_CompanyName').show();
                document.getElementById("company").focus();
                return;
            } else {
                $('#val_CompanyName').hide();
                $('#company').blur();
            }
        }

        if (formNumber == 3) {
            if (visitingEmployee === '') {
                $('#val_Visiting_Employee').show();
                document.getElementById("visitingEmployee").focus();
                return;
            } else {
                $('#val_Visiting_Employee').hide();
                $('#visitingEmployee').blur();
            }



            if (EmployeeNameArray.indexOf(visitingEmployee) === -1) {
                $('#val_Visiting_Employee').show();
                document.getElementById("visitingEmployee").focus();
                return;
            } else {
                $('#val_Visiting_Employee').hide();
                $('#visitingEmployee').blur();
            }
        }

        if (formNumber == 4) {
            if (meetingType == 0) {
                $("#val_Purpose").show();
                return;
            } else {
                $("#val_Purpose").hide();
            }

            if (meetingType == 3) {
                if (otherReason === '') {
                    $("#val_Reason").show();
                    document.getElementById("otherReason").focus();
                    return;
                } else {
                    $("#val_Reason").hide();
                    $('#otherReason').blur();
                }
            }
        }


        if (formNumber == 5) {
            //if (carRegistrationNumber == '') {
            //    $('#val_CarRegistration').show();
            //    document.getElementById("carRegistrationNumber").focus();
            //    return;
            //} else {
            //    $('#val_CarRegistration').hide();
            //    $('#carRegistrationNumber').blur();
            //}
        }

        if (formNumber == 6) {
            if (phoneNumber != '') {
                if (isValidPhone(phoneNumber) == false) {
                    $('#val_PhoneNumber').show();
                    document.getElementById("phoneNumber").focus();
                    return;
                } else {
                    $('#val_PhoneNumber').hide();
                    $('#phoneNumber').blur();
                }

            }
        }

        if (formNumber == 10) {


            const file = dataURItoBlob($("#profileImage")[0].currentSrc);
            const formData = new FormData();
            formData.append("file", file);



            $.ajax({
                    url: "@Url.Action("UploadImage", "Appointment")",
                    data: formData,
                    processData: false,
                    contentType: false,
                    type: "POST",
                    success: function (data) {

                        console.log(data)

                        var row = {
                            FullName: $("#formFullName").val(),
                            PhoneNumber: phoneNumber,
                            CompanyName: companyName,
                            MeetingPurpose: meetingType,
                            MeetingDescription: otherReason,
                            CarRegistration: carRegistrationNumber,
                            PhotoName: data == undefined ? null : data,
                            VisitingEmployee: visitingEmployee,
                            isFlu: isFlue
                        };

                        console.log(row);



                          $.ajax({
                            type: "POST",
                            url: "@Url.Action("AddAppoitment", "Appointment")",
                            data: { appointment: row },
                            success: function (response) {

                                console.log("The response from insert", response);

                                if (response != undefined) {

                                    $.ajax({
                                        type: "GET",
                                        url: "@Url.Action("PrintPage", "Admin")",
                                        data: { Id: response.id },
                                        success: function (response) {


                                        },
                                        failure: function (response) {
                                            console.error(response.responseText);
                                        },
                                        error: function (response) {
                                            console.error(response.responseText);
                                        }
                                    })

                                    console.log("Form clear")
                                    meetingType = 0;

                                    $("#phoneNumber").val('');
                                    $("#formFullName").val('');
                                    $("#company").val('');
                                    $("#otherReason").val('');
                                    $("#visitingEmployee").val('');
                                    $("#carRegistrationNumber").val('');
                                    $("#OtherReason").hide();
                                    $("#btnOptionOne").css({ "backgroundColor": "#17a2b8" });
                                    $("#btnOptionTwo").css({ "backgroundColor": "#17a2b8" });
                                    $("#btnOptionThree").css({ "backgroundColor": "#17a2b8" });
                                    $("#openFile").val('');
                                    $("#profileImage").attr("src", "https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png");

                                    //$("#ElventhForm").hide();
                                    //$("#TwelfthForm").show();
                                    console.log("Form open");

                                }

                            },
                            failure: function (response) {
                                console.error(response.responseText);



                            },
                            error: function (response) {
                                console.error(response.responseText);
                            }
                        })




                        return;
                    }
             });

        }


        if (formNumber == 8) {
            $("#setFullName").text(fullName);
            $("#setCompany").text(companyName);
            $("#setPhone").text(phoneNumber);
            $("#setRegistration").text(carRegistrationNumber);
            $("#setEmployee").text($("#visitingEmployee").val());


            if (meetingType == 1) {
                //Meeting
                $("#setMeeting").text("Meeting");
            }

            if (meetingType == 2) {
                //Contractor
                $("#setMeeting").text("Contractor");
            }

            if (meetingType == 3) {
                //other
                $("#setMeeting").text("other Reason");
            }

        }



        stepNumber = stepNumber + 1;

        if (stepNumber == 1) {

            console.log("This is from 1")
            $("#TwelfthForm").hide();
            $("#firstForm").show();
            $("#SecondForm").hide();
        }

        if (stepNumber == 2) {

            $("#TwelfthForm").hide();

            $("#firstForm").hide();
            $("#SecondForm").show();

            document.getElementById("company").focus();
        }


        if (stepNumber == 3) {
            console.log("Run");

            $("#TwelfthForm").hide();
            $("#SecondForm").hide();
            $("#ThirdForm").show();
            document.getElementById("visitingEmployee").focus();
        }

        if (stepNumber == 4) {
            console.log("Run");

            $("#TwelfthForm").hide();
            $("#ThirdForm").hide();
            $("#FourthForm").show();
        }

        if (stepNumber == 5) {

            console.log("Run");

            $("#TwelfthForm").hide();
            $("#FourthForm").hide();
            $("#FiftForm").show();
            document.getElementById("carRegistrationNumber").focus();
        }

        if (stepNumber == 6) {
            console.log("Run");


            $("#TwelfthForm").hide();
            $("#FiftForm").hide();
            $("#SixthForm").show();
            document.getElementById("phoneNumber").focus();
        }

        if (stepNumber == 7) {
            console.log("Run");

            if (isError == false) {

                $('#lblPhoto').show()
                $('#takePhoto').show()
                $('#lblErrorPhoto').hide()
                $("#btnSendPhoto").prop("disabled", true);

            }

            $("#TwelfthForm").hide();
            $("#SixthForm").hide();
            $("#SeventhForm").show();
        }

        if (stepNumber == 8) {
            console.log("Run");

            //$("#setEndFullName").text(`Welcome ${fullName}`);
            $("#TwelfthForm").hide();
            $("#SeventhForm").hide();
            $("#EightForm").show();
        }

        if (stepNumber == 9) {
            $("#TwelfthForm").hide();
            $("#EightForm").hide();
            $("#NinthForm").show();
        }

        if (stepNumber == 10) {
            $("#TwelfthForm").hide();
            $("#NinthForm").hide();
            $("#TenthForm").show();

        }

        if (stepNumber == 11) {
            $("#TwelfthForm").hide();
            $("#TenthForm").hide();
            $("#ElventhForm").show();
        }

        if (stepNumber == 12) {

            $("#ElventhForm").hide();
            $("#TwelfthForm").show();
        }




        if (stepNumber == 13) {
            stepNumber = 12;
        }


    }

    function btnPrev() {
        console.log(stepNumber);
        if (stepNumber == 1) {
            $("#firstForm").hide();
            $("#SecondForm").show();
        }

        if (stepNumber == 2) {
            $("#firstForm").show();
            $("#SecondForm").hide();
            stepNumber = 1;
        }

        if (stepNumber == 3) {
            $("#SecondForm").show();
            $("#ThirdForm").hide();
            stepNumber = 2;
        }

        if (stepNumber == 4) {
            $("#ThirdForm").show();
            $("#FourthForm").hide();
            stepNumber = 3;
        }

        if (stepNumber == 5) {
            $("#FourthForm").show();
            $("#FiftForm").hide();
            stepNumber = 4;
        }

        if (stepNumber == 6) {
            $("#FiftForm").show();
            $("#SixthForm").hide();
            stepNumber = 5;
        }

        if (stepNumber == 7) {
            $("#SixthForm").show();
            $("#SeventhForm").hide();
            stepNumber = 6;
        }

        if (stepNumber == 8) {
            $("#SeventhForm").show();
            $("#EightForm").hide();
            stepNumber = 7;
        }

        if (stepNumber == 9) {
            //$("#EightForm").show();
            //$("#NinthForm").hide();
            //stepNumber = 8;

            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
            })

            swalWithBootstrapButtons.fire({
                title: 'Are you sure?',
                text: "Are you sure to cancel it?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, cancel it!',
                cancelButtonText: 'No,',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {

                    meetingType = 0;

                    $("#phoneNumber").val('');
                    $("#formFullName").val('');
                    $("#company").val('');
                    $("#otherReason").val('');
                    $("#visitingEmployee").val('');
                    $("#carRegistrationNumber").val('');
                    $("#OtherReason").hide();
                    $("#btnOptionOne").css({ "backgroundColor": "#17a2b8" });
                    $("#btnOptionTwo").css({ "backgroundColor": "#17a2b8" });
                    $("#btnOptionThree").css({ "backgroundColor": "#17a2b8" });
                    $("#openFile").val('');
                    $("#profileImage").attr("src", "https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png");

                    $("#TwelfthForm").show();
                    stepNumber = 1;

                    //swalWithBootstrapButtons.fire(
                    //    'Cancelled!',
                    //    'Your appointment is cancelled',
                    //    'success'
                    //)

                    $("#NinthForm").hide();

                }  
            })

        }

        if (stepNumber == 10) {
            $("#NinthForm").show();
            $("#TenthForm").hide();
            stepNumber = 9;
        }


        if (stepNumber == 11) {
            $("#TenthForm").show();
            $("#ElventhForm").hide();
            stepNumber = 10;
        }



    }

    function jumpToForm(FormNumber) {

        $("#NinthForm").hide();


        if (FormNumber == 1) {
            $("#firstForm").show();
            stepNumber = 1;
        }

        if (FormNumber == 2) {
            $("#SecondForm").show();
            stepNumber = 2;
        }

        if (FormNumber == 3) {
            $("#ThirdForm").show();
            stepNumber = 3;
        }

        if (FormNumber == 4) {
            $("#FourthForm").show();
            stepNumber = 4;
        }

        if (FormNumber == 6) {
            $("#SixthForm").show();
            stepNumber = 6;
        }

        if (FormNumber == 5) {
            $("#FiftForm").show();
            stepNumber = 5;
        }


    }

    function btnMeetingPurpose(optionNumber) {
        console.log('This is option number', optionNumber);
        meetingType = optionNumber;

        if (optionNumber == 1) {
            meetingType = 1;
            $("#btnOptionOne").css({ "backgroundColor": "#17a2b8" });
            $("#btnOptionTwo").css({ "backgroundColor": "#62bcca" });
            $("#btnOptionThree").css({ "backgroundColor": "#62bcca" });
            $("#OtherReason").hide();

        }

        if (optionNumber == 2) {
            meetingType = 2;
            $("#btnOptionOne").css({ "backgroundColor": "#62bcca" });
            $("#btnOptionTwo").css({ "backgroundColor": "#17a2b8" });
            $("#btnOptionThree").css({ "backgroundColor": "#62bcca" });
            $("#OtherReason").hide();
        }

        if (optionNumber == 3) {
            meetingType = 3;
            $("#btnOptionOne").css({ "backgroundColor": "#62bcca" });
            $("#btnOptionTwo").css({ "backgroundColor": "#62bcca" });
            $("#btnOptionThree").css({ "backgroundColor": "#17a2b8" });
            $("#OtherReason").show();
            document.getElementById("otherReason").focus();

        }


    }

    $("#takePhoto").on('click', function () {
        $("#btnSendPhoto").prop("disabled", true);
        //$("#openFile").click();
        Webcam.set({
            width: 320,
            height: 240,
            image_format: 'jpeg',
            jpeg_quality: 90
        });
        $("#modal-camera").modal('show')
        Webcam.attach('#my_camera');

        setTimeout(() => {
            $("#btnSendPhoto").prop("disabled", false);

        },1000)


    });



    function previewFile(input) {
        var file = $("input[type=file]").get(0).files[0];

        if (file) {
            var reader = new FileReader();

            reader.onload = function () {
                $("#profileImage").attr("src", reader.result);
            }

            reader.readAsDataURL(file);
        }
    }

    function dataURItoBlob(dataURI) {
        // convert base64/URLEncoded data component to raw binary data held in a string
        var byteString;
        if (dataURI.split(',')[0].indexOf('base64') >= 0)
            byteString = atob(dataURI.split(',')[1]);
        else
            byteString = unescape(dataURI.split(',')[1]);

        // separate out the mime component
        var mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0];

        // write the bytes of the string to a typed array
        var ia = new Uint8Array(byteString.length);
        for (var i = 0; i < byteString.length; i++) {
            ia[i] = byteString.charCodeAt(i);
        }

        return new Blob([ia], { type: mimeString });
    }

    function SetFlu(value) {
        isFlue = value;

          

        if (value == true) {

            $("#btnHasFlu").css({ "backgroundColor": "#007bff" });
            $("#btnNoFlu").css({ "backgroundColor": "#eb7373" });

        } else {
            $("#btnHasFlu").css({ "backgroundColor": "#5199e5 " });
            $("#btnNoFlu").css({ "backgroundColor": "#dc3545" });
        }
    }



    function isValidPhone(p) {
        var phoneRe = /(^[0][2][12579]{1})(\d{6,7}$)/;
        var digits = p.replace(/\D/g, "");
        return phoneRe.test(digits);
    }

</script>

